.calendario {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tituloCalendario {
    font-size: $tamañoLetraTitulos;
    text-transform: uppercase;
    margin: 1.25rem;
    text-align: center;
  }

  .slideHorizontal {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding: 10px;

    .slideContainer {
      display: block;
      white-space: nowrap;

      .item {
        display: inline-block;
        margin: 5px;

        img {
          width: 150px;
          height: 225px;
          object-fit: cover;
        }
      }
    }
  }

  .slideHorizontal::-webkit-scrollbar {
    display: none;
  }
}